
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.jumbotron {
	height: 100vh;
	width: 100vw;
	position: fixed;
	background-image: url("../images/jordan6.jpg");
	background-size: 100% 100%;
	/*background-size: cover;*/
	
}

/*.carousel-inner {
	height: 50vh;
}
*/
.arrow-up {
	position: fixed;
	right: 30px;
	bottom: 10px;
	font-size: 3em;
	z-index: 1;
}

.fa-arrow-circle-up {
	color: gray;
}


/*.carousel-item {
	background-size: 100% 100%;
}*/

.aboutus {
	margin-top: 70px;
	/*margin-bottom: 135px;*/
	min-height: 68vh;
}

.card {
	border: none;
}

.carousel-item img {
	height: 400px;
	width: 100px;
}