
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	min-height: 100vh;
}

#landingpage {
	
	position: fixed;
	background-color: #ABA9BF;
	background-image: url("../images/court2.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	font-family: impact;
}

.coverabout {
	background-image: url("../images/coverabout.jpg");
	background-size: cover;
	height: 100%;
	padding-top: 70px;
}

/*.carousel-inner {
	height: 50vh;
}
*/
.arrow-up {
	position: fixed;
	right: 30px;
	bottom: 10px;
	font-size: 3em;
	z-index: 1;
}

.fa-arrow-circle-up {
	color: gray;
}


/*.carousel-item {
	background-size: 100% 100%;
}*/

.aboutus {
	/*margin-top: 70px;*/
	/*margin-bottom: 135px;*/
/*	min-height: 68vh*/
	color: white;
	text-shadow: 3px 3px 6px lightblue;
}

.card {
	border: none;
}

#carousel-home img {
	/*height: auto;*/
	width: 100%;
	max-height: 80vh;
}

.contactus {
	margin-top: 70px;
/*	min-height: 68vh;*/
}

#googlemap {
	height: 100%;
	width: 100%;
	min-height: 300px;
}

#btncontact {
	width: 100%;
}

.gallery {
	margin-top: 70px;
}

#gallerypic {
	width: 100%;
}

/*.modal-size {
	max-width: 60%;
}*/

#btnindex {
	border: none;
	text-decoration: none;
	font-size: 70px;
	color: white;
	text-shadow: 5px 5px 8px black;
}

#btnindex:hover {
	color: #F6AE2D;
}

#iconabout:hover {
	color: #F6AE2D;
}

#iconabout {
	text-shadow: 2px 2px 5px lightblue;
}

#carousel-gallery img {
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
}

#gallery-footer {
	border: none;
	margin-left: auto;
	margin-right: auto;
}

#carousel-icon-prev {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

#carousel-icon-next {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}